<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Website-Formular</title>
    </head>
    <body>
    <h4>Neue Anfrage über Web-Formular von</h4>
    <p>
        Firma: {{ company }}<br>
        Vorname: {{ firstname }}<br>
        Nachname: {{ lastname }}<br>
        E-Mail: {{ email }}<br>
        Telefon: {{ phone }}<br>
    </p>
    <h5>Nachricht</h5>
    <p>
        {{ message }}
    </p>

    <a href="mailto:{{ email }}">E-Mail beantworten</a>

    </body>
</html>